<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="header">
    <ion-header collapse="condense" >
        <ion-title size="large" id="title">NationFacts</ion-title>
        <ion-img id="imag" src="assets/logo.png"/>
    </ion-header>
  </div>


  <div id="container">
    <form>
      <input type="text" placeholder="Email" id="mail">
      <input type="password" placeholder="Password" id="password">
      <div id="boton_inicio">
        <ion-button 
          color="primary" 
          size="large" 
          shape="round"
          [routerLink]="['/inicio']">Iniciar sesion
        </ion-button>
      </div>
      <p id="texto">No tenes una cuenta?</p>
      <div id="boton_registro">
        <ion-button 
          color="primary" 
          size="large" 
          shape="round"
          [routerLink]="['/register']">Registrate
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>